.choose{
	margin-left: 15px;
	width: 98vw;
	height: 40vw;
	background-color: floralwhite;
	border-radius: 14px;
	filter: drop-shadow(1px 0px .1rem black);
}
.Gen{
	width: fit-content;
	height: fit-content;
	background-color: rgba(255,0,0,1);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 12px;
	margin-bottom: 10px;
	margin-left: 10px;
	transition: all 0.5s ease;
}
.Gen:hover{
	background-color: rgba(255, 0, 0, 0.7);
	padding: 13px;
}
.scan-cont, .scan2-cont{
	display: flex;
	align-items: start;
	justify-content: center;
	user-select: none;
}
.scan2-cont{
	flex-direction: column;
	gap: 10px;
}